.menu {

  text-align: center;

  li {
    width: 100%;
    margin: 1em 0;

    @media screen and (min-width: 52em) {
      width: 24%;
    }
  }

  li > a {
    color: $gold-500;
    padding: 0.25em 0.35em;
    font-size: 1em;

    &:hover, &:focus, .active {
      color: $white;
      background: $red-500;
    }

    @media screen and (min-width: 64em) {
      font-size: 1.5em;
    }
  }

  .active {
    color: $white;
    background: $red-500;
  }
}


.sub-menu {

  padding-top: 2em;
  margin: 0 auto;
  text-align: center;

  li {
    margin: 0 1em 2em 0;

    a {
      text-transform: uppercase;
      background: $mono-300;
      color: $mono-900;
      padding: 0.5em 1em;
      border-radius: 4px;

      &:hover, &:focus {
        background: $mono-900;
        color: $white;
      }
    }
  }
}
