$red-300:   #F0716E;
$red-500:   #E81B16;
$red-900:   #B81411;

$brown-300: #997C68;
$brown-500: #6A4022;
$brown-900: #51311A;

$gold-300:  #DDA24B;
$gold-500:  #D28410;
$gold-900:  #A6680C;

$white:     #FFFFFF;
$mono-50:   #F8F9F9;
$mono-100:  #DEE1E3;
$mono-300:  #BEC4C8;
$mono-500:  #97A1A7;
$mono-700:  #5F6E78;
$mono-900:  #374047;
$black:     #222222;

$twitter:   #00aced;
$facebook:  #3b5998;
$instagram: #bc2a8d;

.white    {color:$white;}
.mono-50  {color:$mono-50;}
.mono-100 {color:$mono-100;}
.mono-300 {color:$mono-300;}
.mono-500 {color:$mono-500;}
.mono-700 {color:$mono-700;}
.mono-900 {color:$mono-900;}
.black    {color:$black;}
