body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  color: $mono-700;
}

h1, h2, h3, h4 {
  color: $mono-900;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.link {
  background: $gold-500;
  color: $white;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 4px;
  text-transform: uppercase;


  &:hover, &:focus {
    background: $gold-900;
    color: $white;
    text-decoration: none;
  }
}
