html {
  background: url("../img/resort.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
}

.h1 {
  font-size: 3rem;
}
.h2 {
  font-size: 2rem;
}
.cta {
  background: #FFC107;
  padding: 1rem 1.5rem;
  color: #212121;
  text-decoration: none;
  font-weight: 900;
  border-radius: 1rem;
  font-size: 1.5rem;
}

header {
  background: #FFFFFF;
}

.text-link {
  color: #FFC107;
  text-decoration: none;
}
.text-link:hover, .text-link:active {
  color: #FFC107;
  text-decoration: underline;
}

.border-top {
  border-top: 1px solid #70829a;
}
